<div class="topbar">
    <div>
        <h1><a href="{{topbarSlug ? topbarSlug : "/admin/dashboard"}}">{{ topbarTitle }}</a></h1>
    </div>
    <div class="widgets">
        @!component('components/add-button', {
            id:'showFormBox',
            title:"Ajouter"
        })
    </div>
</div>