<div class="topbar">
    <div>
        <h1>{{ topbarTitle }}</h1>
    </div>
    <div class="widgets">
        @!component('components/add-button', {
            id:'showFormBox',
            title:"Ajouter"
        })
    </div>
</div>