<div class="topbar">
    <div>
        <h1>{{ topbarTitle }}</h1>
    </div>
    <div class="widgets">
        <button class="btn btn-primary widget" id="showFormBox"><i class="fa-solid fa-plus"></i></button>
    </div>
</div>