<div class="widget_delete right">
    <form action="{{action}}_method=DELETE">
        <button class="btn btn-secondary widget " type="submit"><i class="fa-solid fa-trash"></i></button>
    </form>
</div>