
.navbar {
    position: fixed;
    width: 100%;
    background-color:$surface-dark;
    box-shadow: $shadow;
}

.navbar h5 {
    font-size: 20px;
}

.navbar > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1760px;
    margin: auto;
}

.navber .field {
    display: flex;
}

.navbar .field input[type='search'] {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 200px;
}

.navbar .field input[type='search']:focus{
    width: 300px;
}

.navbar .field button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -5px;
    border: 1px solid $primary
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
}

.sidenav {
    width: 300px;
    height: 100%;
    top: 0;
    left: 0;
}

.sidenav menu {
    margin-top: 100px;
}

.content {
    margin-top: 80px;
    width: 100%;
    padding: 20px;
}

main .topbar {
    display: flex;
    max-width: 1516px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}


.formBox {
    position: fixed;
    width: 40%;
    height: 100vh;
    top: 0;
    right: 0;
    transform: translateX(100%);
    background-color: $surface-dark;
    padding: 20px;
    -webkit-transition: all 0.3s cubic-bezier(.42, 0, .58, 1);
    transition: all 0.2s cubic-bezier(.42, 0, .58, 1);
}

.formBox .content {
    margin-top: 65px;
}

.formBox button {
    float:  right;
    margin-right: 20px;
}

form button {
    margin-right: 0;
}

.wrapper {
    margin-top: 40px;
    padding: 1em;
}


.wrapper.wrapper-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px ;
}
.right {
    float: right;
}