
.navbar {
    position: fixed;
    width: 100%;
    background-color:$surface-dark;
    box-shadow: $shadow;
    z-index: 5;
}

.navbar h5 {
    font-size: 20px;
}

.navbar > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 97%;
    margin: auto;
}

.navber .field {
    display: flex;
}

.navbar .field input[type='search'] {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 200px;
}

.navbar .field input[type='search']:focus{
    width: 300px;
}

.navbar .field button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -5px;
    border: 1px solid $primary
}

main {
    display: grid;
    grid-template-columns: 240px 1fr;
    grid-template-rows: 1fr;
}

.sidenav menu {
    margin-top: 100px;
}

.content {
    margin-top: 78px;
    padding: 20px;
}

main .topbar {
display: flex;
align-items: center;
max-width: 1560px;
justify-content: space-between;
}


.formBox {
    position: fixed;
    width: 40%;
    height: 100vh;
    top: 0;
    right: 0;
    transform: translateX(100%);
    background-color: $surface-dark;
    padding: 20px;
    z-index: 9;
    -webkit-transition: all 0.3s cubic-bezier(.42, 0, .58, 1);
    transition: all 0.2s cubic-bezier(.42, 0, .58, 1);
}

.formBox .content {
    margin-top: 65px;
}

.formBox button {
    float:  right;
}

.formBox .widget {
    margin-right: 20px;
}

form button {
    margin-right: 0;
}

.wrapper {
    margin-top: 40px;
}

section {
    margin-top: 30px;
    margin-bottom: 30px;
}

.wrapper.wrapper-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px ;
    max-width:1560px
}
.right {
    float: right;
}

