.btn {
    padding: 6px;
    font-size: 16px;
    border-radius: $radius;
}

.btn-primary {
    background-color: $primary;
    color: #fff;

    &:hover {
        background-color: lighten($color: $primary, $amount: 5);
    }
}

.btn-secondary {
    background-color: $surface-dark;
    color: $white;
    &:hover {
        background-color: #3c3d40;
    }
}
