
.sidenav {
    background-color: $surface-dark;
}

.sidenav-item  {
    &:hover {
        background-color: #3c3d40;
    }
    margin-bottom: 10px;
}

.sidenav-item a {
    padding: 8px;
    margin-left: 30px;
}
