.widgets {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.widget {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    margin-right: 5px;
    background-color: $surface-dark;
    cursor: pointer;

    &:hover {
        background-color: #3c3d40;
    }
}
.widget-danger {
    color: $danger;
}