@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

$bg-dark:#0a0a0a;
$surface-dark:#191919;
$text-muted:#707070;
$white:rgba($color: #fff, $alpha:0.67);
$primary:#426cff;
$danger:#F85149;
$radius:4px;
$shadow:rgba(149, 157, 165, 0.1) 0px 8px 24px;
