@import url('https://fonts.googleapis.com/css2?family=Quintessential&family=Sacramento&display=swap');

:root {
    font-weight: 400;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  
    --bg-green: #122223;
    --green-light: #12222356;
    --white: #fff;
    --cream: #EAE5D2;
    --gold: #DA9E63;
  
    --radius: 8px;  
}